:root {
  --primary: #000000;
  --secondary: rgb(8 9 14 / 100%);
  --secondary-active: rgb(22 25 36 / 100%);
  --tertiary: #08090e;
  --action: #007ACC;
  --action-text: #0097ff;
  --action-text-active: #007ACC;
  --action-taken: #768691;
  --highlight: #329dff;
  --content: #bfc1cf;
  --focus: #d5d7e7;
  --alert: #ff674d;
  --confirm: #4ad555;
}

/*
  ---------------------------
  Fonts
  ---------------------------
*/

@font-face {
  font-family: 'mctext';
  font-display: swap;
  src: url(/assets/fonts/mctext.woff2) format('woff2'),
       url(/assets/fonts/mctext.woff) format('woff'),
       url(/assets/fonts/mctext.ttf) format('truetype');
}

@font-face {
  font-family: 'mctext-bold';
  font-display: swap;
  src: url(/assets/fonts/mctext-bold.woff2) format('woff2'),
       url(/assets/fonts/mctext-bold.woff) format('woff'),
       url(/assets/fonts/mctext-bold.ttf) format('truetype');
}

/*
@font-face {
  font-family: 'mctitle';
  font-display: swap;
  src: url(/assets/fonts/mctitle.woff2) format('woff2'),
       url(/assets/fonts/mctitle.woff) format('woff'),
       url(/assets/fonts/mctitle.ttf) format('truetype');
}
*/

/*
  ---------------------------
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
  ---------------------------
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  z-index: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
#root, #__next {
  isolation: isolate;
}
*/

/*
  ---------------------------
  Custom CSS Starts Here
  ---------------------------
*/

body {
  background-color: var(--primary);
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: var(--action-text);
}

a:hover {
  color: var(--action-text-active);
}

footer {
  display: flex;
  justify-content: center;
  padding: 100px 50px 100px 50px;
  background: linear-gradient( rgba(0, 0, 0, 0.90), rgba(0, 0, 0, 0.90)), url(/assets/images/gravel.webp);
  z-index: 1000;
}

#otherservers {
  max-width: 220px;
  margin-left: 20px;
}

footer img {
  margin: 15px auto !important;
}

#main-nav {
  position: fixed;
  display: flex;
  justify-content: center;
  background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9) ), url(/assets/images/grass.webp);
  box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 70%);
  transition: all 0.3s;
  height: 110px;
  width: 100%;
  z-index: 1000;
}

#nav-bg {
  position: absolute;
  width: 100% !important;
  max-width: 100% !important;
  height: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9) ), url(/assets/images/grass.webp);
  transition: all 0.3s;
  opacity: 0;
}

#landing-body #main-nav {
  background: rgb(0 0 0 / 30%);
}

#main-nav.scroll, #landing-body #main-nav.scroll {
  height: 80px;
}

#main-nav.scroll > #nav-bg {
  opacity: 100;
}

#main-nav *, footer * {
  align-self: center;
}

#main-nav img {
  width: 90%;
  transition: width 0.1s;
}

#main-nav img:hover {
  width: 100%;
}

#main-nav ul, footer ul {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0px;
}

#main-nav li {
  position: relative;
}

#main-nav li a, #main-nav li p {
  font-family: 'mctext';
  font-size: 1.05rem;
  text-shadow: 2px 2px 2px black;
  padding: 12px 16px;
  color: white;
  border-radius: 1000px;
  transition: background-color 0.3s;
  margin: 0px 5px;
  line-height: 1;
  display: block;
}

#main-nav li:hover > a, #main-nav li:hover > p {
  background-color: var(--action);
  color: white;
}

#main-nav li a.active, #main-nav li p.active {
  background-color: var(--action);
  color: white;
}

#main-nav ul ul {
  display: block;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 5px;
  background-color: var(--tertiary);
  border-radius: 5px;
  width: 180px;
  /* padding: 16px 0px 16px 0px; */
  transition: visibility 0.3s, opacity 0.3s;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%)
}

#main-nav ul ul li a {
  display: block;
  border-radius: 0;
  margin: 0;
  padding-left: 20px;
}

#main-nav ul li:hover > ul, ul.hover_effect {
  visibility: visible;
  opacity: 100%;
}

footer li a {
  font-family: 'mctext';
}

footer li {
  margin: 10px 10px 10px 0px;
}

#footer-divider {
  width: 200px;
  border-top: 3px dotted var(--action);
  margin-bottom: 24px;
}

main {
  min-height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  background: linear-gradient( rgba(0, 0, 0, 0.81), rgba(0, 0, 0, 0.87) ), url(/assets/images/stone.webp)
}

#landing-title-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.landing-logo {
  max-width: 60%;
  margin: auto;
}

.title {
  width: 100%;
  height: calc( 100vh + 4px );
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  z-index: 2;
}

#grabber {
  font-size: 4em !important;
}

.sub-title {
  width: 100%;
  height: 400px;
  padding-top: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(/assets/images/404-title.webp);
  background-position: center 0px;
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  z-index: 2;
}

h1 {
  font-family: 'mctext';
  color: white;
  font-size: 3rem;
  text-shadow: 0 2px black, 2px 0 black;
  text-align: center;
  line-height: 1;
}

h2 {
  font-family: 'mctext';
  color: var(--focus);
  font-size: 2rem;
  text-shadow: 0 2px black, 2px 0 black;
  text-align: center;
  margin-top: 10px;
}

#landing h2 {
  color: white;
  font-size: 3rem;
  text-align: center;
  line-height: 1;
  margin-top: 0;
}

h3, h4{
  font-family: 'mctext';
  color: var(--focus);
  font-size: 1.6rem;
  text-shadow: 0 2px black, 2px 0 black;
}

footer p {
  color: var(--content);
}

.content, #main-nav > div, footer > div {
  width: 80%;
  max-width: 1020px;
}

#main-nav > div, footer > div {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: var(--content);
  position: relative;
  margin: 50px;
}

.content section {
  display: flex;
  flex-direction: column;
  padding: 50px;
  width: 100%;
  z-index: 2;
}

div.shadow {
  all: initial !important;
  position: absolute !important;
  width: 100vw !important;
  top: 0 !important;
  z-index: 1 !important;
  box-shadow: 0px 0px 400px 150px rgb(0 0 0 / 100%) !important;
}

section.center {
  align-items: center;
  justify-content: center;
  line-height: 2;
  text-align: center;
}

.split-content {
  align-items: initial;
}

.split-content div {
  width: 50%;
  box-sizing: border-box;
  padding: 0 15px 50px 15px;
  z-index: 2;
}

.split-content section {
  padding: 30px;
}

section img {
  margin: 30px auto;
}

section img.small {
  width: 50%;
}

section img.medium {
  width: 60%;
}

section img.wide {
  width: 70%;
}

.content p {
  margin: 1em 0 1em 0;
}

li.rules, .split-content li {
  margin: 0.5em 0 0.5em 0;
}

#landing section {
  flex-direction: row;
}

#landing div {
  width: 50%;
}

div.narrow {
  width: 33%;
}

.content section.divider {
  padding: 0;
  align-items: center;
}

button {
  padding: 10px;
  margin: 16px;
  min-width: 90px;
  line-height: 1.5;
  border-radius: 1000px;
  background-color: var(--action);
  font-family: 'mctext';
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px 4px 0px #000000;
}

button:hover {
  -webkit-animation: grow 100ms !important;
  -webkit-animation-fill-mode: both !important;
}

@keyframes grow {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.ip {
  font-family: 'mctext';
  font-size: 2rem;
  line-height: 1.5;
  padding: 10px 30px;
  border-radius: 1000px;
  background-color: rgb(0 0 0 / 35%);
  display: inline-block;
  color: var(--content);
  text-shadow: 0 2px black, 2px 0 black;
}

#scrollbutton {
  position: absolute;
  bottom: 100px; 
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  transition: opacity .3s;
  padding-top: 40px;
}

#scrollbutton:hover {
    opacity: .5;
}

#scrollbutton span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 2px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}

#scrollbutton span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

.copyip-button {
  -webkit-animation: breathing 1s ease-out infinite normal;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 1000px;
}

#copyip-button-2 {
  -webkit-animation: breathing 1s ease-out infinite normal;
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  50% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}


.overlay {
  pointer-events: none;
  display: flex;
  opacity: 0;
  transition: opacity .3s;
  position: fixed;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(0 0 0 / 50%);
  z-index: 2000;
}

.overlay.active {
  pointer-events: initial;
  opacity: 1;
}

.overlay-bg {
  width: 100%;
  height: 100vh;
}

.overlay-fg {
  width: 80%;
  max-width: 440px;
  background: linear-gradient( 45deg, rgb(104 156 223), rgb(9 58 100) );
  color: #dddddd;
  text-align: center;
  border-radius: 25px;
  box-shadow: 5px 5px 15px 0px #000000;
  padding: 60px 0 50px 0;
  position: fixed;
}

#overlay-close {
  position: absolute;
  right: 24px;
  top: 24px;
  padding: 10px;
  transition: opacity .2s;
}

#overlay-close:before,#overlay-close:after{
    content:'';
    position:absolute;
    width:18px;
    height:2px;
    background-color:#cccccc;
    border-radius:2px;
}

#overlay-close:before{
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  transform:rotate(45deg);
  right:2px;
}
#overlay-close:after{
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  transform:rotate(-45deg);
  right:2px;
}

#overlay-close:hover {
  cursor: pointer;
  opacity: 0.5;
}

/*
  ---------------------------
  Erik Terwan's Mobile Hamburger
  24th of November 2015
  All rights reserved
  ---------------------------
*/

#mobile-nav {
  display: none;
  height: 0;
  -webkit-user-select: none;
  user-select: none;
}

#mobile-nav > div {
  position: absolute;
  top: 45px;
  left: 45px;
  z-index: 3000;
}

#mobile-nav > a > img {
  position: absolute;
  z-index: 2999;
  width: 120px;
  right: 0;
  margin: 30px;
}

#mobile-nav div input {
  display: block;
  width: 33px;
  height: 33px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
}

/* Just a quick hamburger */
#mobile-nav div span {
  display: block;
  width: 33px;
  height: 4px;
  margin-top: 5px;
  position: relative;
  background: white;
  border-radius: 3px;
  box-shadow: 5px 5px 5px 0px #000000;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#mobile-nav div span:first-child {
  transform-origin: 0% 0%;
}

#mobile-nav div span:last-child {
  transform-origin: 0% 100%;
}

/* Transform all the slices of hamburger into a crossmark. */
#mobile-nav div input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(2px, -2px);
}

/* But let's hide the middle one. */
#mobile-nav div input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/* Ohyeah and the last one should go the other direction */
#mobile-nav div input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, 0);
}

#mobile-nav ul {
  list-style-type: none;
}

/* Make this absolute positioned at the top left of the screen */
#mobile-nav > div > ul {
  position: absolute;
  width: 100vw;
  min-height: 110vh;
  margin: -100px 0 0 -45px;
  padding: 50px;
  padding-top: 125px;
  background-color: var(--secondary-active);
  /* background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0)); */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#mobile-nav li {
  padding: 5px 0;
  font-size: 20px;
}

#mobile-nav a {
  color: white;
  font-family: 'mctext';
  display: block;
  width: 100%;
  padding: 5px 0;
  /* text-shadow: 5px 5px 5px black; */
}

#mobile-nav p {
  font-family: sans-serif;
  font-size: 16px;
  width: 100%;
  color: #738592;
  padding: 10px 0 5px 0;
  display: block;
  border-bottom: 2px solid #738592;
}

/* And let's fade it in from the left */
#mobile-nav div input:checked ~ ul {
  transform: scale(1.0, 1.0);
  opacity: 1;
}

#mobile-nav ul ul {
  padding-left: 0;
}


/*
  ---------------------------
  Multi-Device Support Starts Here
  ---------------------------
*/

@media (max-width: 900px) {
  .hide-mobile {
    display: none;
  }
  section img.wide {
    width: 90%;
  }
  footer > div {
    display: initial;
  }
  footer section {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  #otherservers {
    margin-left: 0;
    margin-top: 20px;
  }
  footer li {
    margin: 10px;
  }
}

@media (max-width: 700px) {
  section img.wide {
    width: 100%;
  }
  .sub-title {
    background-size: 300%;
  }
  .content {
    width: 90%;
    margin: 0 !important;
  }
  #main-nav, #scrollbutton {
    display: none;
  }
  .title {
    top: -15px;
  }
  #mobile-nav {
    display: block;
  }
  .hide-mobile-2 {
    display: none;
  }
  .split-content div {
    width: 100%;
  }
  #landing section {
    flex-direction: column;
    max-width: 90%;
  }
  #landing div, div.narrow {
    width: 100%;
  }
  .landing-title-text h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  #grabber {
    font-size: 3.2em !important;
  }
  h3, h4 {
    font-size: 2rem;
  }
  .ip {
    font-size: 1.6rem;
  }
}

@media (max-width: 500px) {
/*
  .landing-title-text h1 {
    font-size: 1.9rem;
  }
*/
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  #grabber {
    font-size: 2.4em !important;
  }
  h3, h4 {
    font-size: 1.8rem;
  }
  .ip {
    font-size: 1.2rem;
  }
  .copyip-button {
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
  }
  .content {
    width: 100% !important;
  }
  .content section {
    padding: 50px 25px !important;
  }
}

@media (orientation: landscape) {
  @media (max-height: 1000px) {
    #scrollbutton {
      display: none;
    }
   .landing-title-text h1 {
      font-size: 2.5rem;
    }
    #grabber {
      font-size: 3.2em !important;
    }
    .ip {
      font-size: 1.6rem;
    }
  }

  @media (max-height: 700px) {
    #main-nav, #landing-body #main-nav {
      height: 90px;
      position: absolute;
    }
  }

  @media (max-height: 600px) {
    #main-nav {
      display: none;
    }
    #mobile-nav {
      display: block;
    }
  }
}

@media (max-height: 700px) {
  .landing-logo {
    display: none !important;
  }
  .title {
    top: 5px !important;
  }
  .landing-title-text {
    width: 100% !important;
    max-width: 500px !important;
  }
}
