<footer>
  <div>
    <section>
      <div id="footer-divider"></div>
      <p>Supported versions as of June 23 2023: Java 1.18 to 1.20.1, Bedrock 1.20.0, Vivecraft 1.19.X</p>
      <p>Checkout <a href="https://superminecraftservers.com">Super Minecraft Servers</a> to find the the best Minecraft
servers.</p>
      <ul>
        <li><a href="/rules/">Rules</a></li>
        <li><a href="/join/">How to Join</a></li>
        <li><a href="/potato/">PC Optimization</a></li>
        <li><a href="https://discord.gg/3WzZ3x6wGp" target="_blank">Discord</a></li>
      </ul>
      <p>Not affiliated with Mojang.</p>
    </section>
    <section>
      <div id="otherservers">
        <p style="text-align: center;">Check out our other server for a more modded experience!</p>
        <a aria-label="New Lands Survival server" href="https://newlandsmc.com"><img style="width: 100px;" src="https://newlandsmc.com/assets/images/logo.webp" alt="New Lands Survival logo"></a>
      </div>
    </section>
  </div>
</footer>
