<footer>
  <div>
    <section>
      <div id="footer-divider"></div>
      <p>Supported versions as of March 21 2023: Java 1.18 to 1.19.4, Bedrock 1.19.71, Vivecraft 1.19.X</p>
      <ul>
        <li><a href="/rules/">Rules</a></li>
        <li><a href="/join/">How to Join</a></li>
        <li><a href="/potato/">PC Optimization</a></li>
        <li><a href="https://discord.gg/3WzZ3x6wGp" target="_blank">Discord</a></li>
      </ul>
      <p>Not affiliated with Mojang.</p>
    </section>
    <section>
      <div id="otherservers">
        <p style="text-align: center;">Check out our other server for a more modded experience!</p>
        <img style="width: 100px;" src="https://newlandsmc.com/assets/images/logo.webp">
      </div>
    </section>
  </div>
</footer>
