<nav id="mobile-nav">
  <a aria-label="Homepage" href="/"><img src="/assets/images/logo.webp" alt="SemiVanilla Logo" /></a>
  <div>
    <!--A fake / hidden checkbox is used as click reciever, so you can use the :checked selector on it.-->
    <input aria-label="Navigation menu" type="checkbox"></input>
    <!--Some spans to act as a hamburger. They are acting like a real hamburger, not that McDonalds stuff.-->
    <span class="hamburger"></span>
    <span class="hamburger"></span>
    <span class="hamburger"></span>
    <!--Too bad the menu has to be inside of the button but hey, it's pure CSS magic.-->
    <ul>
      <li><a href="/">Home ></a></li>
      <p>Server</p>
      <li><a href="/vote/">Vote ></a></li>
      <li><a href="http://semivanilla.tebex.io/" target="_blank">Store ></a></li>
      <li><a href="https://discord.gg/zVYbPcVzny" target="_blank">Discord ></a></li>
      <p>More</p>
      <li><a href="/claiming/">Land Claiming ></a></li>
      <li><a href="/map/" target="_blank">Live Map ></a></li>
      <li><a href="/rules/">Rules ></a></li>
    </ul>
  </div>
</nav>
<nav id="main-nav">
  <div id="nav-bg"></div>
  <div>
    <div class="hide-mobile" style="height: 100%;">
      <a aria-label="Homepage" href="/" style="height: 100%; width: 110px; display: flex; align-items: center; justify-content: center;"><img src="/assets/images/logo.webp" alt="SemiVanilla Logo" /></a>
    </div>
    <ul>
      <li><a id="nav-home" aria-label="Homepage" href="/">Home</a></li>
      <li><a id="nav-vote" href="/vote/">Vote</a></li>
      <li><a href="http://semivanilla.tebex.io/" target="_blank">Store</a></li>
      <li><a href="https://discord.gg/zVYbPcVzny" target="_blank">Discord</a></li>
      <li>
        <p id="nav-features">More</p>
        <ul>
          <li><a href="/claiming/" style="padding-top: 20px; border-top-right-radius: 5px; border-top-left-radius: 5px">Land Claiming</a></li>
          <li><a href="/map/" target="_blank">Live Map</a></li>
          <li><a href="/rules/">Rules</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
